@model Usuario

@{
    @* Passando para a o layout o valor da variavel Subtitulo dessa view. *@
    ViewBag.Subtitulo = "Cadastrar";
}

<h1 class="text-primary">Cadastro de Usuário</h1>
<hr>
<form method="POST" class="w-25">
    @* Essa Input faz referencia ao ID do usuário, isso faz com que não seja dependa do ID passado na rota*@
    <input type="hidden" asp-for="IdUsuario">
    <div class="form-group">
        <label asp-for="Nome">Nome:</label><br>
        <input asp-for="Nome" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Email">Email:</label><br>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mt-3">
        <a href="/Home/Usuarios" class="btn btn-light">Cancelar</a>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
</form>