@{
    Layout = "_Layout";
}

<h1>Enquete</h1><br>
<h2>Quer participar da enquete?</h2>

@* Saiba mais sobre TagHelpers: https://learn.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro?view=aspnetcore-6.0
asp-action é um tag helper, que abre a ação responder do controlador
desta view *@ 
<a asp-action="Responder" class="btn btn-primary">Sim!!!</a>
<a asp-action="Resultado" class="btn btn-primary">Resultados</a>