@{
    Layout = "_Layout";
}

<h1>Enquete:</h1>
<h2>Obrigado por participar!</h2>
<p>
    <a asp-action="Index" class="btn btn-primary">Voltar ao Início</a>
    <a asp-action="Resultado" class="btn btn-primary">Ver resultados</a>
</p>